body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h2 { 
    font-family: "Raleway";
}
#nav-section {
    display: flex;
    justify-content: space-between;
}
#portfolio-logo {
    font-family: 'Dancing Script', cursive;
    margin-left: 2em;
    align-self: center;
    font-size: 1.4em;
}
#nav-list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-right: 2em;
}
.nav-link {
    text-decoration: none;
    margin: 0 1.5em;
    color: #e01860;
    font-size: 1.2em;
}
#profilepic {
    display:grid;
    height: 100%;
}
#profileimg {
    border-radius: 50%;
    border: 5px solid black;
    width: 60%;
    justify-self: center;
}
#bg-about {
    display: grid;
    grid-template-columns: 40% 60%; 
    grid-template-rows: 350px;
    height: 350px;
    background: rgba(240, 238, 238, 0.5);
}
#about-text {
    padding: 2em;
    background-color: black;
    width:80%;
    border-radius: 20px;
    color:white;
    align-items: center;
    text-align: justify;
}
#abouttext-content {
    align-content: center
}
.intro {
    margin: 1em;
}
#portfolio-title {
    text-align:center;
    margin-top: 1.5em;
}
#project-section {
    width: 80%;
    margin: 1em auto;
    padding: 0.8em 0 0.1em;
    background-color: #e01860;
}
.project-tile {
    width:99%;
    height: 230px;
    margin: 0em auto 1.2em;
    background-color: black;
    color: white;
    display:flex;
}
.project-img {
    width:50%;
}
img {
    width: 100%;
    height: 100%;
}
.project-description {
    width:50%;
    padding: 1em;
    text-align: justify;
    line-height: 1.5em;
}
.links {
    text-decoration: none;
    color: black;
}
#contact {
    margin: 2em 0;
}
#contact-form {
    width: 40%;
    margin: 0px auto;
    padding: 1.3em;
    border: 1px solid black;
    border-radius: 20px;
}
input {
    width: 95%;
}
.form-field {
    line-height: 1.4em;
    padding: 0.3em;
    margin: 0.2em 0 0.7em;
}
#message {
    width: 95%;
    height: 70px;
}
#form-btn {
    text-align: center;
}
.submit-btn {
    padding: 0.2em 1.3em;
    margin: 0.5em;
    background-color: black;
    color: white;
}
#contact-info {
    list-style: none;
    display:flex;
    width:28%;
    margin: 1em auto;
    font-size:1.1em;
    text-align: center;
}
.contact-link {
    text-decoration: none;
    color:black;
    margin:0 30px;
}
#footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
}
#footer-body {
    padding:1em;
}

@media only screen and (max-width:750px) {
    #bg-about {
        grid-template-columns: 90%;
        grid-template-rows: 300px 400px ;
        row-gap: 1em;
        height: 730px;
        justify-content: center;
        background: white;
    }
    #about-text {
        justify-self: center;
    }
    #project-section {
        margin: 0px auto;
        width: 90%;
    }
    .project-tile {
        width: 100%;
        height: 490px;
        flex-direction: column;
    }
    .project-img {
        width: 100%;
    }
    .project-description {
        width: 90%;
    }
    #contact-form {
        width: 80%;
    }
    #contact-info {
        padding-left:0px ;
    }
    .contact-link {
        margin: 0 0.5em;
    }
    .remove {
        display:none;
    }
}
@media only screen and (max-width:450px) {
    #nav-section {
        display: flex;
        flex-direction: column;
    }
    #portfolio-logo {
        margin: 0px;
    }
    #nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
    } 
    #bg-about {
        grid-template-rows: 200px 400px ;
        row-gap: 1em;
        height: 600px;
    }
    .project-tile {
        height: 430px;
    }
    .lmsproject {
        height: 450px !important;
    }
}